@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* Document */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 576px) {
    html {
        font-size: 18px;
    }
}

/* Body */

body {
    background: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    margin: 0;
}

/* SVG */

svg {
    vertical-align: middle;
}

/* Container */

#__next {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

/* Utilities */

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: 400ms ease-in;
}

.img-fluid {
    height: auto;
    max-width: 100%;
}

.text-hide {
    font: 0/0 a;
}
